spring.application.name=
security.jwt.secret-key=
security.jwt.expiration-time=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
spring.jpa.hibernate.ddl-auto=
spring.jpa.open-in-view=